.homeheader {
  width: 100%;
  padding: 5%;
}

.col-foto-perfil {
  text-align: center;
}

.cardcontacto {
  background-color: red;
}

.iconocontacto {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .iconocontacto {
    width: 50%;
  }
}
